apt/
archive/
augeasproviders_*/
clusterssh/
concat/
consul/
consul_template/
datacat/
docker/
epel/
epfl_sso/
file_concat/
haproxy/
ipmi/
marathon/
mesos/
name_service/
openstack/
puppi/
selinux/
staging/
sudo/
tinyproxy/
vcsrepo/
yum/
zookeeper/
